#page {
    width: 100%;
    display: grid;
    grid-template-rows: 60px auto 60px;
    Font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.4;
}
h1{
    margin: 1%;
    color: white;
}
h2{
    text-align: center;
    color: #ce1c08;
}
h4{
    text-align: right;
    margin-right: 3%;
    color: white;
    font-weight: normal;
}
p{
    margin: 5px;
    text-align: justify;
    text-justify: inter-word;
}
#header {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    border-bottom: 1px solid lightgray;
    background-color: #349CC2;
}
.title{
    grid-column: 1 / 2;
}
#menu{
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}
.menuElement{
    color: white;
    font-weight: bold;
}
#main {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    background-color: #dfdfdf;
    text-align: justify;
    text-justify: inter-word;
    padding: 1%;;
}
#Historia{
    grid-row: 1 / 2;
}
#Turystyka{
    grid-row: 2 / 3;
}
#Jedzenie{
    grid-row: 4 / 5;
}
#footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background-color: #217c27;
}
a{
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
}
